.course-info {
  width: 70%;
  gap: 30px;
  padding-top: 100px;
}

.upload-module{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

